<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        h2{
            text-align: center;
            color: greenyellow;
        }
    </style>
</head>
<body>
<h2>WELCOME TO <i>SUNSHINE ACADEMY</i></h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium error et eveniet fugit harum hic id incidunt modi nemo officiis perferendis quaerat quia, quis saepe sapiente sunt temporibus? Error, mollitia.
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eligendi eos esse et hic inventore laboriosam minus necessitatibus perferendis possimus praesentium provident quae quam, quidem tenetur! A corporis eius pariatur!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eligendi provident quo sed! Accusamus accusantium assumenda consectetur exercitationem laborum placeat repellendus sed veritatis. Accusamus accusantium cupiditate dolor quae quaerat sint?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aspernatur commodi, dolor doloribus dolorum ducimus enim est fugit inventore itaque nobis odio omnis perferendis quae, quo temporibus totam vitae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae illo iusto modi obcaecati rem repudiandae, tenetur. Alias at facilis fuga impedit, minus optio quae quibusdam repellat repellendus, velit voluptatem.</p>
</body>
</html>