<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        td{
            border: darkgreen 2px solid;
            padding: 10px;
        }
    </style>
</head>
<body>
<h2>CONTACT</h2>

<p>this is the contact page made using html</p>

<table>
    <tr>
        <td>A</td>
        <td>B</td></tr>
    <tr>
        <td>C</td>
        <td>D</td></tr>
    <tr>
        <td>E</td>
        <td>F</td></tr>
    <tr>
        <td>G</td>
        <td>H</td></tr>
</table>

</body>
</html>