{% extends 'layout.html' %}

{% load static %}

{% block body %}

<h2>LOCATION</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic non officia, possimus vel vero vitae? Ab at, debitis eveniet expedita facere facilis hic numquam qui similique? Explicabo, molestiae vero!</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15955.340019450821!2d36.79442821376952!3d-1.2720858690264008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1708500474684!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}